.navbar {
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(156, 156, 156);

  .navbarWrapper {
    .css-zza0ns-MuiBadge-badge {
      background-color: rgb(24, 20, 36);
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    .iconn {
      cursor: pointer;
    }

    .navbarLeft {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }

    .navbarRight {
      display: flex;
      gap: 2rem;
      align-items: center;

      .navbarRightIcons {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      .avatarTamplate {
        cursor: pointer;
        span {
          font-size: 0.9rem;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
      }
    }
  }
}
