.categories {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .categoryItem {
    button {
      width: 100%;
      background-color: transparent;
      &:hover {
        background-color: rgb(215, 215, 215);
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      cursor: pointer;

      span {
        font-style: none;
        font-size: 0.87rem;
        color: black;
      }

      @media (max-width: 1024px) {
        &:hover {
          cursor: default;
          background-color: inherit;
        }
      }
    }
  }
}
