.anasayfa {
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  .firsatUrunleri {
    .firsatContent {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    .ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem; // Öğeler arasındaki boşluk
      row-gap: 6rem;
    }
  }

  @media (max-width: 1024px) {
    .sikcaSorulan {
      .anaTitle {
        align-items: self-start;
        .title {
          text-align: start;
        }
        .desc {
          text-align: start;
        }
      }
    }
  }
}
