.siparisOdemeSection {
  width: 100%;
  display: flex;
  gap: 2rem;

  .formOdeme {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .payment-form {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 100%;

      .cardOdeme {
        width: 100%;

        .card-content {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;

          .title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 15px;
          }

          .input-group {
            display: flex;
            gap: 10px;
          }

          input,
          select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
          }

          .infoKomisyon {
            margin-top: 0.7rem;

            img {
              width: 40%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
