.cupon-table-cupon {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.85rem;

  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    word-break: break-word;
  }

  // Sütun genişlikleri
  thead {
    tr {
      th {
        &.col-2 {
          width: 15%;
        }
        &.col-1 {
          width: 10%;
        }
        &.col-0 {
          width: 8%;
        }
      }
    }
  }

  tbody {
    tr {
      font-size: 0.85rem;
    }
  }

  th {
    background-color: #f9f9f9;
    font-weight: bold;
  }
}
