.mainSectionSide {
  padding-top: 2rem;
  display: flex;
  gap: 3rem;

  .product-gallery {
    width: 55%;
    display: flex;
    flex-direction: column;
    .single-img {
      border: 1px solid gray;
      height: 370px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .product-thump {
      margin-top: 0.5rem;
      height: 79px;

      img {
        border: 1px solid transparent;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .rightActionSide {
    width: calc(45% - 3rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;

    .projectDetay {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: -0.5rem;
      .desc {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p,
        a {
          word-break: break-word; /* Uzun kelimeleri kır */
        }
      }
    }

    .whatsappSiparis {
      display: flex;
      gap: 1rem;
      background-color: #e8e8e8;
      border-radius: 15px;
      padding: 20px;
      align-items: center;
      transition: 0.3s;

      .icon {
        font-size: 2.3rem;
        color: #448d44;
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .text {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;

          p,
          a {
            font-size: 0.85rem;
          }
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .single-img {
      height: 450px;
      img {
        height: 100% !important;
      }
    }

    .product-gallery {
      width: 100%;
      gap: 1rem;

      .product-thump {
        height: 100px;
      }
    }

    .rightActionSide {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .product-gallery {
      .single-img {
        display: none;
      }

      .product-thump {
        height: 380px;

        img {
          border: 1px solid transparent;
        }
      }
    }

    .rightActionSide {
      gap: 3rem;
    }
  }

  @media (max-width: 425px) {
    .product-gallery {
      .product-thump {
        height: 280px;
      }
    }
  }
}
