.siparisBilgileri {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  hr {
    margin-bottom: 1.5rem;
  }

  .order-page {
    overflow-x: auto;
    width: 100%;

    .table-wrapper {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%;

      table {
        min-width: 500px;
      }
    }

    .custom-table {
      width: 100%;
      min-width: 500px;
      border-collapse: collapse;
      table-layout: fixed;
      font-size: 0.85rem;

      th,
      td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      // Sütun genişlikleri
      thead {
        tr {
          th {
            &.col-2 {
              width: 28%;
            } // 2 birimlik kolon
          }
        }
      }

      // Body için aynı oranlar

      th {
        background-color: #f9f9f9;
        font-weight: bold;
      }

      .editTd {
        text-align: end;
        .buttonsContent {
          display: flex;
          .download-btn {
            width: 100%;
            display: flex;
            background-color: transparent;
            cursor: pointer;
            justify-content: end;

            .icon {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}

.order-page,
.modal-overlay-musteri .modal-musteri {
  /* Scrollbar inceltme - Webkit tabanlı tarayıcılar */
  // Scrollbar stilleri (WebKit için)
  &::-webkit-scrollbar {
    height: 6px; // 👈 Scroll kalınlığı
  }

  &::-webkit-scrollbar-track {
    background: transparent; // Track arka planı
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; // Scroll rengi
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; // Hover’da koyulaşır
  }
}
