.siparisAdresSection {
  width: 100%;
  display: flex;
  gap: 2rem;
  .formAdres {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3.5rem 3rem;

    .address-formm {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-size: 1.2rem;
          margin-bottom: 5px;
          font-weight: 600;
          border-bottom: 1px solid #ccc;
          padding-bottom: 1rem;
        }

        input,
        select {
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 4px;
          font-size: 14px;
          width: 100%;
        }

        input[type="checkbox"] {
          width: 15px;
        }

        .error {
          color: #dc3545;
          font-size: 11px;
          text-align: right;
          margin-top: 2px;
          display: block;
        }

        label {
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .faturaTipi {
          display: flex;
          gap: 2rem;
        }
      }

      .checkbox {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
      }

      .warning {
        width: 100%;
        border-radius: 4px;
        font-size: 14px;

        a {
          color: darkgreen;
          text-decoration: underline;
          margin-left: 4px;
        }
      }

      .corporate-info,
      .billing-address,
      .adressAsil {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 1rem;
      }

      .submit-btn {
        margin-top: 10px;
        width: 30%;
        padding: 10px;
        background: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 600;
        transition: background 0.3s;

        &:hover {
          background: #333;
        }
      }
    }

    .adresesContent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }

    .kayitliAdres {
      position: relative;
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 10px;
      padding: 2rem 2rem;
      border: 2px solid lightgray;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);

      p {
        font-size: 0.8rem;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .iconTop {
          position: absolute;
          font-size: 1rem;
          top: 7px;
          right: 7px;
          color: orange;
        }

        .adressTitle {
          font-size: 0.9rem;
        }
      }

      .section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .adres {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          line-clamp: 3; /* Modern browsers için */
          -webkit-line-clamp: 3; /* Safari ve eski tarayıcılar için */
          white-space: normal;
        }
      }

      &:hover {
        border: 2px solid orange;
        transition: 0.3s;
      }
    }

    .selectedAdres {
      border: 2px solid orange;

      &:hover {
        border: 2px solid orange;
        transition: 0.3s;
      }
    }

    .error {
      color: #dc3545;
      font-size: 0.85rem;
      text-align: right;
      margin-top: 10px;
      display: block;

      @media (max-width: 900px) {
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .siparisAdresSection {
    flex-direction: column;
    gap: 1rem;
    .formAdres {
      width: 100%;
      padding: 3.5rem 1.7rem;
      gap: 1.5rem;
      .address-formm {
        gap: 1rem;
        section {
          gap: 6px;
          h2 {
            font-size: 1rem;
            padding-bottom: 0.5rem;
          }
        }
      }
      .adresesContent {
        grid-template-columns: 1fr;
        gap: 0.5rem;
      }
    }
  }
}
