.SiparisOlustur {
  margin-top: 140px;
  min-height: calc(100vh - 140px - 6rem);

  .siparisOlusturContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    .css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
    .css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
      color: $primary-color;
    }

    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
      color: rgb(24, 20, 36);
    }

    .ucusBilgileri {
      .airDropsStepper {
        width: 100%;
      }

      .airDropSection {
        width: 100%;
      }
    }

    .airDropController {
      width: 65%;
      display: flex;
      justify-content: space-between;

      .button {
        text-transform: uppercase;
        border-radius: 4px;
        min-width: 64px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.75;
        padding: 6px 16px;
        background-color: $primary-color;
        color: whitesmoke;
      }
      .buttonDisabled {
        text-transform: uppercase;
        border-radius: 4px;
        min-width: 64px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.75;
        padding: 6px 16px;
        background-color: $primary-color;
        color: whitesmoke;
        opacity: 0.2;
        cursor: default;
      }
    }
  }
}
