.fiyatSiparisOZeti {
  width: calc(35% - 2rem);
  height: 400px;

  .paper {
    padding: 3rem 3.5rem 3rem 3.5rem;
    border-radius: 1;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 100%;

    .bar {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        font-size: 0.85rem;
      }
    }

    .ucretDetay {
      .title {
        margin-bottom: 0.7rem;
      }
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      font-size: 15px;

      p {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 900px) {
  .fiyatSiparisOZeti {
    width: 100% !important;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    .paper {
      padding: 2.5rem 2rem;
      gap: 1rem;

      .bar {
        margin-bottom: 1rem;
      }
    }
  }
}
