.card {
  border-radius: 15px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  cursor: default; /* Varsayılan imleç */

  .img {
    width: 100%;
    height: 8.7rem;
    cursor: pointer;

    @media (max-width: 780px) {
      height: 11rem;
    }

    @media (max-width: 500px) {
      height: 13rem;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  .cardSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    .CardTop {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h4 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 2; /* Modern browsers için */
        -webkit-line-clamp: 2; /* Safari ve eski tarayıcılar için */
        white-space: normal;
        cursor: pointer;
      }

      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .eskiFiyat {
          color: gray;
          font-size: 0.75rem;
          text-decoration: line-through
        }

        .yeniFiyat {
          font-size: 1rem;
          color: green;
          font-weight: bold;
        }
      }
    }

    .CardBottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sayac {
        width: 60%;
        border-radius: 8px;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: start;
        .icon {
          cursor: pointer;
          font-size: 1.3rem;
        }
        .sayi {
          font-size: 1rem;
        }
      }
      .btn-card {
        width: 40%;
        text-align: center;
        padding: 7px;
      }
    }
  }
}
