.panelSidebar {
  flex: 3;
  background-color: rgb(34, 34, 34);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .logo {
      font-weight: 600;
      color: rgb(211, 209, 209);
    }
  }

  .bottom {
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    ul {
      li {
        a,
        button {
          display: flex;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          position: relative;

          .icon {
            font-size: 1.3rem;
            color: rgb(215, 215, 215);
          }

          span {
            font-size: 0.9rem;
            margin-left: 12px;
            color: rgb(215, 215, 215);
          }

          &:hover {
            background-color: rgb(215, 215, 215);

            span,
            .icon,
            .right {
              color: rgb(14, 17, 48);
            }
          }
        }
        button {
          background-color: transparent;
          width: 100%;
        }
      }
    }
  }
}
